
.hip-chat-notifications-page-icon {
    height: 48px;
    width: 48px;
    background: transparent url(images/hipchat-large.png) no-repeat 0 0;
}

.hip-chat-notifications-page-cell {
    display: table-cell;
}

.hip-chat-notifications-page-heading {
    padding-left: 10px;
    vertical-align: middle;
}

.project-config-workflow-remove-icon {
    color: #707070;
}

.hipchat-notification-message {
    background-color: #FFFBE8;
}